{% extends "base.html" %}

{% block extra_menu %}
<a href="{{ url_for('ferreiro') }}">Voltar</a>
{% endblock %}

{% block content %}

<section class="welcome">

    <h2>O que deseja reparar?</h2>

        <div class="area-scroll" style="height: 65vh;">
            {% if not armas_dic %}
                <p style="padding:25px">🔸Nenhuma arma adquirida.</p>
            {% else %}
                {% for id_item, arma in armas_dic.items() %}
                    {% set nome = arma|first %}
                    
                    <form action="/reparar_arma" method="POST">
                        <p><strong> ({{ id_item }}) | {{ nome }} | Durabilidade: {{ arma[nome]["Durabilidade"] }} / {{ armas_base[nome]["Durabilidade"] + (melhoria_por_nivel["Durabilidade"] * arma[nome]["Qualidade"]) }} </strong></p>

                        <input type="hidden" name="id_arma" value="{{ id_item }}">

                        <button type="submit" class="botao-padrao">Reparar</button>
                    </form>

                {% endfor %}
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}